{{#each comments}}<!--For each comment in the "comments object, create the following element"-->
<div class="card comment-card">
    <div class="card-header com-info">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <a id="getUserInfo{{UserId}}" class="getUserInfo postLink" href="#" name="{{UserId}}"><img
                    src="/images/alien.png"> {{userName}}</a>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
        </div> 
    <div class="card-body com-box">{{corntent}}</div><!--Inserts the comments content-->
</div>
{{/each}}<!--End each loop-->