{{#each comments}}<!--For each comment in the "comments object, create the following element"-->
<div class="card">
    <div class="card-header">By: {{comments.UserId}} At: {{comments.createdAt}}</div> <!--Inserts the UserId and createdAt time in the card title-->
    <div class="card-body">{{comments.corntent}}</div><!--Inserts the comments content-->
</div>
{{/each}}<!--End each loop-->