<!-- Footer Links -->
<footer>
    <div class="container-fluid text-center text-sm-left">
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-sm-5 mt-sm-0 mt-0 left-column">

                <!-- Content -->

                <h8 class="text-uppercase">Who We Are</h8>
                <p>CropCircle is a small group collaboration project - a means of learning new material, practicing
                    old material, and showing potential employers
                    the skills and abilities of the group members. CropCircle is a fully functioning forum that
                    allows clients to create unique usernames and join threads in different topics. © 2019 Copyright:
                    The A-Team</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-5 mt-sm-0 mt-0 right-column">

                <!-- Content -->

                <h8 class="text-uppercase">Terms of Service</h8>
                <ul class="footer-ul">
                    <li>User identities must be kept anonymous</li>
                    <li>Do not use CropCircle as a way of organizing violence or for hate speech</li>
                    <li>Do not doxx users or anyone else or link to illegal or indecent materials</li>
                    <li>Users who break these rules will be punished at the discretion of
                        the owners of CropCircle</li>
                </ul>

            </div>

            <div class="col-sm-2 mt-sm-0 mt-0 right-column">
                <a id="tos" class="btn btn-sm btn-primary">SHOW/HIDE</a>
            </div>

            {{!-- <hr class="clearfix w-100 d-sm-none pb-3"> --}}

        </div>
    </div>
</footer>