<div class="container homepage-container">
    <img src="/images/pinkAlien.png"  class="animated lightSpeedIn pinkAlien"/>
    <div class="col d-flex justify-content-center">
        <div class="card" id="homeCard" style="width: 30rem;">
            <div class="card-body">
                <h3 class="card-title text-success"><img src="/images/ufo.png">CropCircle</img></h3>
                <h6 class="card-subtitle mb-2"><font color="#1A2D3E">Need to talk? We're all ears!</font></h6>
                <p class="description"><font color="#1A2D3E">Use the navigation bar to get started. You can create an account or log into your
                    pre-existing account so you can join in the discussion or skip that and start browsing </font><img
                        src="/images/ufo.png">
                    <font color="#28A745">CropCircle</font></img>
                    <font color="#1A2D3E">now!</font>
                </p>
            </div>
        </div>
    </div>
</div>