<div class="jumbotron text-center">
    <div class="jumbotron-container text-center">
        <h1 class="display-4 jumbotron-title"><strong>CropCircle</strong></h1>
        <p class="lead">Need to talk? We're all ears!</p>
        <hr class="my-4">
        <p class="description">Use the navigation bar to get started. You can create an account or log into your pre-existing account so you can join in the discussion or skip that and start browsing CropCircle now!</p>
    </div>
</div>
<div class="container homepage-container">
    <div class="row about-container justify-content-center">
        <div class="col-6">
            <div class="card post about">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>About</strong></h5>
                    <hr class='home-page-header-break'>
                    <p>CropCircle is a small group collaboration done as a group assignment for the coding bootcamp. It is
                        a means of learning new material, practicing old material and showing off to potential employers
                        the skills and abilities of the group members. CornHub is a fully functioning forum that allows
                        clients to create a unique username and join loose discussions covering different topics.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card post about">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Rules for Use</strong></h5>
                    <hr class='home-page-header-break'>
                    <ul class="list-group">
                        <li class="list-group-item">User identities must be kept anonymous</li>
                        <li class="list-group-item">Do not use CropCircle as a way of organizing violence</li>
                        <li class="list-group-item">Do not use CropCircle as a platform for hate-speach</li>
                        <li class="list-group-item">Do not doxx users or anyone else</li>
                        <li class="list-group-item">Do not link to illegal or indecent materials</li>
                        <li class="list-group-item">Users who break these rules will be punished at the discretion of
                            the owners of CropCircle</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>