<div class="container homepage-container">
    <div class="zoomies">
        <img class="pinkAlien aos-init aos-animate" src="../public/images/pinkAlien.png" alt="Pink three-eyed alien blob"
            data-aos="zoom-in-left" data-aos="zoom-out-right">
    </div>
    <div class="col d-flex justify-content-center">
        <div class="card" id="homeCard" style="width: 30rem;">
            <div class="card-body">
                <h3 class="card-title text-success"><img src="/images/ufo.png">CropCircle</img></h3>
                <h6 class="card-subtitle mb-2 text-muted">Need to talk? We're all ears!</h6>
                <p class="description">Use the navigation bar to get started. You can create an account or log into your
                    pre-existing account so you can join in the discussion or skip that and start browsing <img
                        src="/images/ufo.png">
                    <font color="#28A745">CropCircle</font></img>
                    now!
                </p>
            </div>
        </div>
    </div>
</div>