<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card post">
        <div class="card-body">
          <h5 class="card-title">Sample Forum Title</h5>
        </div>
      </div>
    </div>
    <div class="col-3 card rules">
      <h5 class="text-center">
        Rules for the Forum
      </h5>

    </div>
  </div>
</div>