<div class="category-header text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Comments history for <br> {{userName}}</h1>
            </div>
            {{>comments}}   
        </div>
    </div>
</div>