body{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  line-height: 1.6em;
  background-image: url("./../images/corn-seamless-pattern-background.png");
  background-color: black;
}

#searchBar {
 width: 500px;
}

.newPostTextArea{
  height: 300px;
}

.card-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.postHeaders{
  margin-bottom: 10px;
}

.postTitle{
  font-size: 25px;
  margin-left: 0px;
}

.postTitle:hover{
  text-decoration: none;
  color: #F5FFFA;
}

.postLink{
  margin-right: 10px;
}

.accordion{
  margin: auto;
  max-width: 600px;
}

.postTitle{
  color: black;
}

.postLink{
  color: #F5FFFA;
}

.postLink:hover{
  text-decoration: none;
  color: black;
  
}

.card{
  background-color: darkgrey;
}

.accordion-collapse{
  background-color: #696969;
  color: #F5FFFA;
}

.commentLinkFromPost{
  font-size: 14px;
  margin-left: 5px;
  margin-top: 10px;
}

.jumbotron{
  z-index: 1;
  margin-top: 0px;
  opacity: 90%;
  background-color: null;
}

.newUserErrorMessage, .logInErrorMessage{
  display: none;
}

.description{
  max-width: 600px;
  margin: auto;
}
.jumbotron-container{
  opacity: 170%;
  z-index: 200;
}

.list-group-item:hover{
  border: 1px grey solid;
}

.container{
  margin: auto;
}

.homepage-container{
  margin-bottom: 50px;
}

.about{
  margin: 0 auto;
}

.jumbotron-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-page-header-break{
  border: 1px grey solid;
}

.list-group-item {
  line-height: 2.5;
}

.dropdown-toggle{
  width: 200px;
}

.navbar-nav {
  margin-right: 10px;
}

.navbar-nav{
  border: 2px lightgray solid
}

.navbar-nav:hover {
  border: 2px grey solid;
}

.form-control{
  width: 600px;
}

.dropdownLabel{
  margin-left: 20px;
}

.dropdown-toggle::after {
  margin-left: 110px;
  margin-right: 0px;
}

.rules{
  padding-top: 20px;
  border: 2px lightgrey solid;
}

.rules:hover{
  border: grey 2px solid
}

.post{
  border: 2px lightgrey solid
}

.post:hover{
  border: grey 2px solid
}
